<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>VIN:</strong>
  <%= @vehicle.VIN %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<% if @vehicle.customer == current_customer %>
	<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<% end %>
<%= link_to 'Back', vehicles_path %>
